<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="Eba" connectionString="Data Source= IP Adresi; Initial Catalog=DB Adı; user id=Kullanıcı Adı; password=Şifre;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- eBAClientConfig.xml içindeki instance adı. IP yazılmaz. TEST / PRODUCTION gibi. -->
    <add key="eBAServer" value="Server Adı" />
    <add key="eBAUser" value="Kullanıcı" />
    <add key="eBAPass" value="Kullanıcı Adı" />
    <add key="ProcessName" value="Süreç Adı" />
    <add key="LogPath" value="C:\Users\-\Desktop\EbaSurecBaslatma\EbaSurecBaslatma\LOG" />
  </appSettings>
</configuration>
